/*@import url('vazir-fonts/fonts.css');*/
/*@import url('vazir-fd-fonts/font-face-FD.css');*/


.row {
    display: -webkit-flex;
    display: flex;
    row-gap: 2px;
    column-gap: 20px;
    flex-basis: auto;
    margin: 0px;
    padding: 20px;
}

.row.right {
    justify-content: right;
}

.row.top {
    align-items: center;
    justify-content: center;
    background-color: #292929;
}




.column {
    padding: 10px;
    flex-basis: 10em;
    align-items: center;
    justify-content: center;
}

.column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /*background: #555;*/
    align-items: center;
    justify-content: center;
}



.column.side img {
    position: relative;
    width: 400px;
    height: 600px;

}

.column.middle {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 3;
}

@media (max-width: 800px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

