
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}
/*.cards img {*/
/*    border: 3px solid #000;*/
/*    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);*/
/*    max-width: 23vw;*/
/*}*/

.cards ul {
    display: flex;
    flex-wrap: wrap;
    /*padding-left: 0;*/
}

.cards ul li {
    padding: 20px;
    list-style: none;
    /*flex: 0 0 50%;*/
    flex: 0 0 33.333333%;
}
.box {
    display: -webkit-flex;
    display: flex;
    row-gap: 2px;
    column-gap: 20px;
    flex-basis: auto;
    margin: 20px;
    padding: 20px;
    flex: 3;
    width: content-box;
    background-color: #B12025;
    color: white;
    border-radius: 20px;
}