.column {
    flex: 3;
    margin: auto;
    /*width: 100%;*/
    width: 1200px;
    position: center;
    flex-basis: 10em;
    align-items: center;
    justify-content: center;
    display: flex;
}
.header_avatar {
    background-image: url("header.jpeg");
    background-size: 100% 100%;
    width: 100%;
    object-fit: fill;
    height: 600px;
    flex-direction: row;
    justify-content: center;
    position: center;



}
.transparent_row {
    flex-direction: row;
    display: -webkit-flex;
    /*display: flex;*/
    row-gap: 2px;
    column-gap: 20px;
    flex-basis: auto;
    height: 350px;
    padding: 20px;
    width: 1000px;
    position: center;


}

.transparent_row.first{
    margin-top: 340px;
    background-color: #4E4E5050;
    justify-content: center;
    position: center;
    border-radius: 50px;
}

.transparent_row.seccond{
    margin-top: 50px;
    width: 1000px;
    background-color: #4E4E50;
    height: 400px;
    border-radius: 50px;
    justify-content: center;
    position: center;
}

.movie_list.actor{
    width: 990px;
    justify-content: center;
    display: flex;
    margin-top: 150px;
    justify-items: center;
}

.image.actor {
    height: 250px;
    width: 250px;
    object-fit: fill;
    border-radius: 100%;
}

.overlay.actor {
    border-radius: 100%;
}


.rectangle {
    height: 250px;
    width: 180px;
    text-align: center;
    background-color: #B12025;
    padding: 50px 15px;
}

.rectangle header{
    font-size: 40px;
}
.rectangle p{
    font-size: 14px;
}
.checked {
    color: orange;
    size: 40px;
}
