html {
    font-family:  Vazir FD;
    font-size: 23px;
    color: #dddddd;
}

font {
    size:20px;
    color:#FF7A59;
}

body {
    background-color: #292929;
    margin: 0;

}


.topnav {
    overflow: hidden;
    background-color: #B12025;
    position: relative;
    top: 0px;
    left: 0px;
}

.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav img {
    width: 50x;
    height: 50px;
    border-radius: 40px;
}
.align-left {
    float: left;
    left: 0px;
}
.align-right {
    float: right;
    right: 0px;
}
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}